:root {
    --magenta: rgb(252, 125, 252);
    --purple: rgb(157, 125, 252);
    --blue: rgb(73, 170, 255);
    --lilac: rgb(176, 205, 255);
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--lilac);
    font-family: 'Sniglet', cursive;
}

/*Header and Navbar*/

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    color: white;
}

.button {
  background-color: var(--magenta);
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  font-size: 16px;
}

/* Main To-do section*/

.project-title {
    color: white;
    text-align: center;
}

.container {
    width: 70%;
    margin: 2% 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 32%;
    color: white;
    text-align: center;
    border-radius: 12px;
    border-style: solid;
    font-size: 25px;
}

.start {
    background-color: var(--magenta)
}

.progress {
    background-color: var(--purple);
}

.done {
    background-color: var(--blue);
}

.list-item {
    border-style: solid;
    width: 90%;
    border-radius: 8px;
    padding: 3px;
    margin-top: 7px;
    background-color: rgb(176, 205, 255, 0.4);
}

.list-button {
    background-color: white;
    border-style: none;
    border-radius: 6px;
    color: var(--blue);
}

/* New To-do */

.new-todo {
    text-align: center;
    border-style: solid;
    border-color: white;
    border-radius: 12px;
    color: white;
    width: 20%;
    margin: 3% 40%;

}

.new-todo input {
    margin-bottom: 15px;
    margin-right: 3px;
}

.new-todo button {
    background-color: var(--magenta);
    border-style: none;
    border-radius: 2px;
    color: white;
    padding: 5px;
}

footer {
    text-align: center;
}